html {
  height: 100%;
  width: 100vw;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 50px;
}

.hero-img {
  background-image: url('/images/field.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
   margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #313639;
  color: white;
  line-height: 0;
  margin: 0;
  position: fixed;

}

.navbar h1{
  margin-left: 10px;
  width: 80%;
  display: inline-flex;
  white-space: nowrap;
}

.navbar li{
display: inline-block;
padding-right: 10px;

}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: #ffb834;
  background-color: #313639;
}

.navbar ul {
  float:right;
}

.navbar p{
  padding: 15px;
  margin: 0px;
  margin-right:10px;
  font-style: italic;
}

.navbar-nav { 
    flex-direction: row;
}
.buttoncontainer {
  margin-top: 3%;
  display: block;
  text-align: center;
}

.bodybutton {
  height: 60px;
  width: 180px;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
  background-color: #241b1f;
  border:1px white solid;
  border-radius:50px;
  cursor: pointer;
  margin: 10px;
}

.main-container {
  width: 100%;
  margin-top: 40px;
  background-color: white;
}

.descriptcontainer {
  min-height: 200px;
  padding: 50px 20% 50px 20%;
  
}

.description-img {
  width: 20%;
  margin: auto;
  height: auto;
}

.description-text {
  width: 60%;
  font-size: 1.8em;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.dropdown {
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
}

#matchup {
  width: 365px;
}

.score-form {
  margin-right: 33%;
  padding-bottom: 20px;
}

input[type=text] {
  width: 7%;
}


.selected-scores {
  text-align: center;
  display: block;
}

.selected-container {
  text-align: center;
  margin-left: 25%;
  margin-top: 50px;
  height: 50px;
}

.fa-edit, .fa-trash {
  margin-right: 10px;
  color: black;
}

.message {
  color: red;
  text-align: center;
}
.table-container {
  width: 70%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#dialog-form {
  display: none;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #D1DEDE;
}

.modal {
  text-align: center;
  padding: 10px;
  display: block;
}
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
  background-color: #01BAEF;
  
  font-size: 18px;
  text-align: center;
  line-height: 3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ui-dialog .ui-dialog-title {
    margin: .1em 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.update{
   width: 100%;
    background-color: #241b1f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.home, .away {
  display: inline-block;
}
.ui-button {
  float: right;
  margin: 10px auto auto 0;
}

table.score-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.score-table td, table.score-table th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.score-table thead {
  background-color: #ffcc00;
}

td {
  text-align: center;
}

 @media only screen and (max-width: 700px) {

.selected-scores {
  text-align: center;
  display: block;
}

.selected-container {
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 50px;
    display: block;
    word-break: break-word;
}
.score-form {
  margin-left: 0;
  display: block;
  clear: both;
  word-wrap: break-word;
}


button.submit {
    width: 33%;
    margin-left: 33%;
    margin-top: 5px;
}

.navbar {
  display: inline-block;
}

.navbar h1 {
  margin-left: 0;
}

.navbar ul {
  float: none;
  margin-left: 0;
}

.description-img {
    width: 50%;
}

.description-text {
  width: 0; 
  font-size: 1em; 
  font-weight: 300; 
  padding-top: 0; 
  margin-top: 0; 
}

 }
