html {
  height: 100%;
  width: 100vw;
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}



.hero-img {
  background-image: url('/images/field.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
   margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #313639;
  color: white;

}

.navbar h1{
  margin-left: 10px
}

.navbar li{
display: inline-block;


}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: #ffb834;
  background-color: #313639;
}

.navbar ul {
  float:right;
}

.navbar p{
  padding: 15px;
  margin: 0px;
  margin-right:10px;
  font-style: italic;
}

.navbar-nav { 
    flex-direction: row;
}
.buttoncontainer {
  margin-top: 3%;
  display: block;
  text-align: center;
}

.bodybutton {
  height: 60px;
  width: 180px;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
  background-color: #241b1f;
  border:1px white solid;
  border-radius:50px;
  cursor: pointer;
  margin: 10px;
}

.main-container {
  width: 100%;
  margin-top: 40px;
  background-color: white;
}

.descriptcontainer {
  min-height: 200px;
  padding: 50px 20% 0 20%;
  
}

.description-img {
  width: 20%;
  margin: auto;
  height: auto;
}

.description-text {
  width: 60%;
  font-size: 1.8em;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.dropdown {
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
  width: 
}

#matchup {
  width: 365px;
}

.score-form {
	text-align: center;
}

.selected-scores {
  text-align: center;
  display: block;
}

.selected-container {
  text-align: center;
  margin-left: 25%;
  margin-top: 50px;
  width: 50%;
  height: 50px;
}


#dialog {
  background-color: blue;
}


table.score-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.score-table td, table.score-table th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.score-table thead {
  background-color: #ffcc00;
}



.feed-results {
  text-align: center;
}
