html {
  height: 100%;
  width: 100vw;
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
/* background-image: url('/images/field.jpg');*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


.container {
  display: block;
  text-align: center; 
  align-items: center; 
  margin-top: 20%;   
}

.landing button{
  display:inline-block;
  width:20%;
  background-color: #f77f00;
  border:none;
  margin-top:5px;
}

.makeNew, .login  {
  background-color: white;
}
.hidden { 
  display: none; 
}


.login {
  width: 39%;
  margin: 4% auto;
  padding: 2%;
}

.login button {
  background-color: #f77f00; 
  border:none;
}

.alert {
  color:red;
}
.createForm {
  width: 60%;
  margin: 4% auto;
  padding: 2%;

}

.createForm button{
  width: 25% ;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f77f00;
  border:none;
  
}


.form-box {
  display: inherit;
}

.form-box input {
  display: block;
  margin: 0 auto;
  margin-top:10px;
  padding: 5px; 
  font-size:18px;
}

.createAccount input  {
  display: block;
  margin: 0 auto;
  margin-top:10px;
  padding: 5px; 
  font-size:18px;
}

.navbar {
  background-color: #313639;
  color: white;

}

.navbar li{
display: inline-block;


}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: #ffb834;
  background-color: #313639;
}

.navbar ul {
  float:right;
}

.navbar p{
  padding: 15px;
  margin: 0px;
  margin-right:10px;
  font-style: italic;
}

.navbar-nav { 
    flex-direction: row;
}

.dropdown {
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
  width: 
}
.score-form {
	text-align: center;

	padding-top: 100px;
}

.selected-scores {
  text-align: center;
  display: block;
}

.input-container {
/*    background-color: grey;
    opacity: 0.8;*/
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    height: 50px;
}


.posted-scores {
  text-align: center;
  padding-top: 150px;
}
.feed-results {
  text-align: center;
}
